html,
body {
  background: url(https://www.enjpg.com/img/2020/plain-white-background-2.jpg);
  font-family: Arial, Helvetica, sans-serif;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;
}
